.vscode/**
.vscode-test/**
src/**
.gitignore
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.husky/**
.changeset/**
lint-staged.config.mjs
out/**
.github/**
pnpm-lock.yaml
esbuild.mjs